* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.6), rgba(4, 9, 30, 0.6)), url(background2.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 90px;
    border-radius: 50%;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #ed335f;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

nav .fa-solid {
    display: none;
}

.type-box {
    width: 60%;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    display: flex;
}

.type-box input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 10px;
    filter: opacity(0.5);
}

.type-box button {
    margin-left: -40px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: none;
    z-index: 2;
}

.type-box button img {
    width: 25px;
}



@media(max-width: 700px){
    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: fixed;
        background: #ed335f;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 4;
        transition: 1s;
    }

    nav .fa-solid {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 24px;
        cursor: pointer;
        position: relative;
        top: 20px;
    }

    .nav-links ul {
        padding: 30px;
    }

    nav img {
        position: absolute;
        top: 20px;
    }

    .type-box {
        height: 50px;
        width: 90%;
        top: 80%;
    }

    .type-box button {
        margin-left: -30px;
    }

    .type-box button img {
        width: 20px;
    }

    .header {
        background-image: linear-gradient(rgba(4, 9, 30, 0.6), rgba(4, 9, 30, 0.6)), url(background3.png);
    }
}

/* -------------------------------------banner------------------------------------ */

.banner {
    width: 100%;
    margin: auto;
    height: 300px;
    z-index: 1;
}

.swiper {
    width: 100%;
    /* border-radius: 10px; */
    margin-top: 10px;
    height: 100%;
}

.swiper-slide {
    width: 100%;
    background: url("banner1.jpg");
    background-size: cover;
    background-position: center;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next {
    color: #ed335f; 
}

.swiper .swiper-pagination-bullet-active {
    background: #ed335f;
    width: 10px;
    border-radius: 5px;
}


@media (max-width: 700px) {
    .swiper .swiper-pagination-bullet {
        width: 5px;
        height: 5px;
    }
}


/* ------------------------------------footer------------------------------------- */

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background: #f9858b;
    margin-top: 10px;
    color: #fff;
}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
}

.icons .fa-brands{
    color: #000000;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.fa-heart {
    color: #000000;
}

@media (max-width: 700px) {
    .footer p {
        font-size: 15px;
    }
}

/*------------------------Custom Scrollbar-------------------------------- */

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #fff;
}
::-webkit-scrollbar-thumb{
    background: #ed335f;
    border-radius: 10px;
}

/* ---------------------------------contact button------------------------------ */

.btn-container {
    position: fixed;
    right: 30px;
    bottom: -50px;
    padding: 24px;
    opacity: 0;
    animation: fade-up 1000ms forwards;
    animation-delay: 1000ms;
    z-index: 2;
}

@keyframes fade-up {
    100% {
        bottom: 24px;
        opacity: 1;
    }
}

.btn-container .gift-btn {
    font-size: 42px;
    color: #ed335f;
    display: inline-block;
    transition: all 400ms;
}

.btn-container .gift-btn:hover {
    transform: scale(1.2);
}


.btn-container span {
    position: absolute;
    top: 0;
    left: 8px;
    color: #fff;
    text-shadow: 1px 0px 3px #555;
    transform: rotateZ(20deg) translateX(10px);
    opacity: 0;
    transition: all 400ms;
    letter-spacing: 2px;
}

.btn-container .gift-btn:hover + span {
    transform: rotateZ(0deg) translateX(0px);
    opacity: 1;
}


@media (max-width: 700px) {
    .btn-container {
        right: 5px;
    }

    @keyframes fade-up {
        100% {
            bottom: 10px;
            opacity: 1;
        }
    }
}